<div class="panel" ng-class="panelClass || 'panel-default'">
  <div class="panel-heading" ng-keypress="toggleOpen($event)">
    <h4 class="panel-title">
      <a href tabindex="0" class="accordion-toggle" ng-class="{'collapsed':!isOpen}" ng-click="toggleOpen()" uib-accordion-transclude="heading">
      <i class="bigger-110 ace-icon fa " ng-class="{true:'fa-angle-right',false:'fa-angle-down'}[!isOpen]"></i>
      <span ng-class="{'text-muted': sDisabled}">{{heading}}</span></a>
    </h4>
  </div>
  <div class="panel-collapse collapse" uib-collapse="!isOpen">
     <div class="panel-body" ng-transclude></div>
  </div>
</div>