<div>
<ul role="presentation" class="uib-datepicker-popup dropdown-menu uib-position-measure" dropdown-nested ng-if="isOpen" ng-keydown="keydown($event)" ng-click="$event.stopPropagation()">
    <li ng-transclude></li>
    <li ng-if="showButtonBar" class="uib-button-bar">
        <span class="btn-group pull-left">
            <button type="button" class="btn btn-sm btn-info no-border uib-datepicker-current" ng-click="select('today', $event)" ng-disabled="isDisabled('today')">{{ getText('current') }}</button>
            <button type="button" class="btn btn-sm btn-danger no-border uib-clear" ng-click="select(null, $event)">{{ getText('clear') }}</button>
        </span>
        <button type="button" class="btn btn-sm btn-success no-border pull-right uib-close" ng-click="close($event)">{{ getText('close') }}</button>
    </li>
</ul>
</div>
